* {
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
  min-height: 100vh;
}

.page {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
}

.page.active {
  display: flex;
}

.card {
  width: 90%;
  max-width: 900px;
  background: #ffffff;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.title {
  text-align: center;
  font-size: 52px;
  color: #42a5f5;
}

.subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.rule-box {
  margin-top: 30px;
  background: #e3f2fd;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.8;
}

.btn {
  border: none;
  padding: 16px 40px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: scale(.95);
}

.main {
  background: #42a5f5;
  color: white;
  display: block;
  margin: 30px auto;
}

/* GAME */
.game-card {
  min-height: 600px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer {
  font-size: 22px;
  font-weight: 700;
}

.menu {
  position: relative;
}

#menuBtn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

#menuBox {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background: #e3f2fd;
  border-radius: 15px;
  overflow: hidden;
}

#menuBox button {
  border: 0px;
  background: none;
  padding: 6px 120px;
  width: 100%;
  cursor: pointer;
}

.question-area {
  margin: 40px 0;
  text-align: center;
}

#questionText {
  font-size: 28px;
  font-weight: 700;
}

#questionImage {
  max-width: 220px;
  margin-top: 15px;
  display: none;
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.choice {
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background: #bbdefb;
  cursor: pointer;
  transition: .2s;
}


.choice:hover {
  transform: scale(1.05);
}

/* RESULT */
.result {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.score h2 {
  font-size: 60px;
}

.correct h2 { color: #4caf50; }
.wrong h2 { color: #f44336; }

.graph {
  display: flex;
  height: 20px;
  margin-bottom: 40px;
}

#barCorrect {
  background: #4caf50;
}

#barWrong {
  background: #f44336;
}